.button{
    background-color: #171717;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: #fafafa;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    &:hover {
        background-color: #404040;
        /* background-color: darkred; */
        transform: translateY(-2px);
    }
}

.buttonwhite{
    background-color: #fafafa;
    border: 2px solid rgb(210, 210, 210);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: #171717;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    &:hover {
        transform: translateY(-2px);
    }
}

@media (max-width: 768px) {
  .button,
  .buttonwhite {
    padding: 0.65rem 1.25rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .button,
  .buttonwhite {
    /* width: 100%; */
    text-align: center;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 333px) {
  .button,
  .buttonwhite {
    /* width: 100%; */
    text-align: center;
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}
