.filecontainer {
    background: none;
    padding: 6px 8px;
    border: 1px solid #e5e5e5;
    /* width: fit-content; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    /* flex-wrap: wrap;               */
    max-width: 100%;              
    /* overflow-wrap: break-word;     */
    /* word-break: break-word;        */

}