.filecontainer {
    background: none;
    padding: 6px 8px;
    border: 1px solid #e5e5e5;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}