/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', sans-serif;
    background: #171717;
    color: #fafafa;
    overflow-x: hidden;
    line-height: 1.5;
} */